body
{
    background-image: url(images/background.jpg);
    background-size: cover;
}
#container {
    font-family: Arial, sans-serif;
    padding: 15px;
    background: #e5e5e5;
    align-self: center;
    align-content: center;
    margin-left: 30%;
    margin-right: 30%;
}
img{
    width: 100%;
}
#footer {
    background: #3f3f3f;
    padding: 5px;
    padding-left: 20px;
    border-top: 1px solid #1f1f1f;
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
}